body{
    text-align: center;
}

#grid-container{
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    padding: 0;
    margin: auto;
}

#sizeBtn {
    margin: 10px;
    height: 30px;
    width: 80px;

}

.pixel{
    box-sizing: border-box;
    border: 1px solid black;
}